@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Titillium Web', sans-serif;
}

.container {
  width: 60%;
  margin: 0 auto;
}

/* Header area css code start */
#header-area {
  background-color: #87519D;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
}

.navbar .logo img {
  max-width: 100%;
  min-width: 80%;
  height: auto;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
  list-style: none;
}

.main-menu li a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  color: white;
  padding: 3px 12px;
  border-radius: 5px;
}

.main-menu .active a {
  background-color: #643a79;
}

.main-menu li a:hover {
  background-color: #643a79;
}

.hero-area {
  text-align: center;
  padding: 145px 0;
}

.hero-area .page-title {
  color: white;
  width: 80%;
  margin: 0 auto 60px;
  line-height: 1.2em;
  font-size: 42px;
}

.hero-area .btn {
  display: inline-block;
  background-color: #eb7d4b;
  padding: 25px 60px;
  border-radius: 5px;
  border-bottom: 4px solid #c86a40;
  text-decoration: none;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.hero-area .btn:hover {
  background-color: #c86a40;
  border-color: #eb7d4b;
}
/* Header area css code end */